*{
    padding: 0px;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#top-bar{
    text-align: center;
    background-color: #edf2f7;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 3rem;
}
#name{
    font-size: 1rem;
}
.newsbox{
    border: 1px solid black;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
}
.headline{
    font-size: 1.5rem;
}
.description{
    margin-top: 1rem;
}
footer{
    display: flex;
    border-top: 2px solid black;
    flex-direction: column;
}
.licenses{
    align-self: center;
}
footer div{
    margin: 0.3rem;
    font-weight: normal;
}
.heading{
    font-weight: 600;
    font-size: 1.2rem;
}